#hero_container
{
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-color);
    width: 68.5em;
    margin: 20px auto 0;        
    border-radius: 15px;
    padding: 2em;
    
    height: 33em;
}
.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.hero-image img
{
    width: 440px;
    height: 350px;
    -webkit-mask-image: linear-gradient(
        to bottom, black 0%, black 50%, transparent 100%
    );
    mask-image: linear-gradient(
        to bottom, black 0%, rgba(0, 0, 0, 0.71) 50%, transparent 100%
    );
    margin-top: -50px;
    margin-left: -350px;
}
.hero-text
{
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    color: var(--accent-color);
}
.hero-text > span 
{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 4px;
    margin-bottom: 50px;
    font-family: inter;
}
.hero-text h1
{
    font-size: 60px;
    letter-spacing: 10px;
    color: var(--accent-color2);
    font-family: PlayfairDisplay;
}
.hero-text h1 span 
{
    display: block;
    margin-left: 400px;
    margin-top: 10px;
}
.hero-text p
{
    font-size: 1em;
    line-height: 1.8;
    max-width: 480px;
    margin: 30px 0px;
    font-family: Montserrat;
    letter-spacing: 0.1em;
}
.cv-btn {
    color: var(--accent-color);
    padding: 0;        
    border: none;         
    cursor: pointer;
    font-family: Montserrat;
    text-underline-offset: 5px;
    text-decoration-thickness: 0.1px;
    text-decoration-color: var(--primary-color2);
}
#services
{
    display: flex;
    flex-direction: column;
    width: 68.5em;
    height: 40em;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin: 70px auto 50px;
}
#services img
{
    width: 26px;
    height: 26px;
    filter: brightness(0) saturate(100%) invert(81%) sepia(15%) saturate(310%) hue-rotate(356deg) brightness(94%) contrast(90%) opacity(0.78);
}
.section-title
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: var(--accent-color);
    font-size: 15px;
    font-family: inter;
    margin-top: -50px;
}
.services-grid-1, .services-grid-2
{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    margin: 15px;
}
.service-card
{
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid #dac5a71e;
    padding: 2em;
    gap: 10px;
    background-color: var(--secondary-color);
}
.services-grid-1 span, .services-grid-2 span
{
    color: var(--accent-color2);
    font-family: Montserrat;
    font-size: 12px;
}
.services-grid-1 h3, .services-grid-2 h3
{
    color: var(--accent-color);
    font-family: inter;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 18px;
}
.services-grid-1 p, .services-grid-2 p
{
    color: var(--accent-color);
    font-family: inter;
    font-weight: 300;
    font-size: 13px;
    line-height: 2;
}
.services-grid-1 a, .services-grid-2 a
{
    display: flex;
    align-items: center;
    margin-top: 5px;
    gap: 5px;
    color: var(--accent-color2);
    font-family: inter;
    font-weight: 300;
    font-size: 13px;
    text-underline-offset: 5px;
    text-decoration-thickness: 0.1px;
    text-decoration-color: var(--primary-color2);
}

