* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background-color: var(--primary-color);   
}
@media (max-width: 600px) {

    #hero_container {
        width: calc(100% - 2em);
    }

    #services {
        width: calc(100% - 2em);
    }

}