#header
{
    display: flex;
    justify-content: center;
    justify-content: center;
    width: 72%;
    max-width: 80em;
    align-items: center;
    margin: 0 auto;
}
#navbar
{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 80em;
    justify-content: space-between;
    align-items: center;
    font-family: inter;
    padding: 2em 0;
    font-size: 14px;
}
#navbar a
{
    text-decoration: none;
}
.logo
{
    display: flex;
    align-items: center;
}
.logo img
{
    width: 33px;
    height: 30px;
    color: var(--primary-color);
    box-shadow:-2px 0px 1px #dac5a7;
    border-radius: 15px;
}
.logo span
{
    color: var(--accent-color);
}
.nav-links
{
    display: flex;
    gap: 1.5em;
}
.nav-links a
{
    color: var(--accent-color);
    border: 0.5em solid transparent;  
    border-radius: 30px; 
    transition: 0.5s ease;
    padding: 1px;      
    display: inline-block;
}
.nav-links a:hover 
{
    transform: scale(1.1);
}
.nav-links a.active {
    border: 2px solid var(--accent-color);
    display: flex;
    align-items: center;
    padding: 1px 20px;
}
.contact-btn
{
    background-color: var(--accent-color);
    color: var(--primary-color);
    padding: 5px 20px;
    border-radius: 4px;
}