:root {
    --primary-color: #000000d1;
    --secondary-color: #dac5a716;
    --accent-color: #c4ad8e;
    --accent-color2: #c4ad8eaf;
    
    --main-font: PlayfairDisplay;
    --title-font: Montserrat;
    --quote-font: inter;
}
